section{
    padding-top: 120px;
}
section.card-beach {
    border: solid 1px ;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 30px;
   
    .content-img  {
        img{
            max-width: 100%;
            max-height: 100%;
            
        }
    }
    .body-content{
    
        span.desc{
            display: block;
        }
        a.btn{
            margin-top: 30px;
            border: solid 3px;
            border-radius: 4px;
            border-color: black;
            padding: 10px 3px 12px 3px;
            background-color: rgb(98, 98, 247);
            .btn-blue{
                margin-top: 20px;
                border: solid 3px;
                cursor: pointer;
                border-color: rgb(65, 65, 65);
                // margin: auto;
                // z-index: 1;
                color: #ffff;
                background-color: rgb(98, 98, 247);
                padding: 9px 50px;
            }
        }
    }

}

section.table-animals{
    h4{
        text-align: center;
        text-transform: capitalize;
        font-size: 1.55rem;
        padding-bottom: 15px;
        border-bottom: solid 1px;
        margin: auto;
        width: 40%;
    }

    table{
        background-color: #ffa928;
        text-align: center;
        &.tb{
            margin: 20px auto;
            border-collapse: collapse;
        }
        
        th, td{
            border: solid 1px;
            padding: 15px;
        }
        td{
            text-transform: capitalize;
            span.name-super{
                vertical-align: super;
            }
            & span.food-super{
                vertical-align: sub;
            }
        }
    }
}